In [3]:
import pandas as pd

## Шаг 1. Загрузим и изучим данные

In [7]:
#считаем csv 
cow_buy = pd.read_csv('cow_buy.csv', delimiter=';')
ferma_dad = pd.read_csv('ferma_dad.csv', delimiter=';')
ferma_main = pd.read_csv('ferma_main.csv', delimiter=';')

In [8]:
cow_buy.head()

,Порода,Тип пастбища,порода папы_быка,Имя_папы,"Текущая_жирность,%","Текущий_уровень_белок,%",Возраст
0,Вис Бик Айдиал,холмистое,Айдиал,Геркулес,"3,58","3,076",более_2_лет
1,Вис Бик Айдиал,равнинное,Соверин,Буйный,"3,54","3,081",менее_2_лет
2,РефлешнСоверинг,равнинное,Соверин,Барин,"3,59","3,074",более_2_лет
3,РефлешнСоверинг,холмистое,Айдиал,Буйный,"3,4","3,061",более_2_лет
4,РефлешнСоверинг,равнинное,Айдиал,Буйный,"3,64","3,074",более_2_лет